{% extends 'base.html.twig' %}


{% block body %}
{{ include('base.html.twig') }}
        <h1>Bienvenue Generator des Tickets</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p>{{ app.user.email }}</p>

                <a class="btn btn-lg btn-primary" href="{{ path('ticket_index') }}"><button>Les Ticks</button></a>
        {% endif %}
{% endblock %}

